# Byte-compiled Python files
__pycache__/
*.py[cod]

# Jupyter notebooks
.ipynb_checkpoints/

# Python virtual environments
env/
venv/
build/
dist/
*.egg-info/
*.egg

# Editor and system files
.vscode/
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.cache
*.tmp

# Model weights and checkpoints
*.pt
*.pth
outputs/models/

# Generated plots and results
outputs/

# Large raw data (excluded because reproducible elsewhere)
data/larger_sample/
data/ptbxl/

# Coverage stuff
.coverage
.coverage.*
htmlcov/
